@import url("index.css");

:root {
	--bg:		#161320;
	--fg:		#C9CBFF;
	--title:	#F2CDCD;
	--hl:		#F5E0DC;
	--black:	#161320;
	--red:		#F28FAD;
	--green:	#ABE9B3;
	--yellow:	#FAE3B0;
	--blue:		#96CDFB;
	--magenta:	#DDB6F2;
	--cyan:		#89DCEB;
}

body {
	background-image: url("img/default.png"); 
	height: 100%;
  	/* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
