@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/fira-code-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/fira-code-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*   Meta   */

body {
	font-family: 'Fira Code', monospace;
	color: var(--fg);
	width: 100vw;
	height: 100vh;
	position: fixed;
}



.flexbox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.mainbox {
	background-color: var(--bg);
	border-radius: 25px;
	padding: 12px;
}

.alpha {
	all:unset;
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
}



/*   Title   */

.title {
	text-align: center;
	padding-bottom: 3vh;
	color: var(--title);
}

.hl {
	color: var(--hl);
}



/*   Clock + Date   */

#clock {
	text-align: center;
}

#clock, #cal {
	color: var(--title);
	margin-left: 1rem;
}



/*   Quicklinks   */

b {
	color: var(--title);
}

li {
	list-style-type: none;
	margin-left: -1rem;
}

a {
	all: unset;
	color: var(--fg);
}

a:hover {
	color: var(--title);
	text-decoration: underline;
	cursor: pointer;
}



/*   Searchbar   */

.search {
	margin-top: 12px;
}

.search input {
	background-color: var(--fg);
	padding: 4px 0.5rem 4px 0.75rem;
	height: 1.5rem;
	width: 80%;
	border-radius: 2rem;
	margin-bottom: 16px;
	margin-left: 26px;
	border: 0px;
}

.search button {
	background-color: rgba(0,0,0,0);
	border: 0px;
	color: #D9E0EE;
	font-size: 18px;
	cursor: pointer;
	display: none;
}



/*   Decoration   */
.art img {
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 50px;
}

.colcir {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}
