@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@400&display=swap');

:root {
    --background: #232634;
    --foreground: #c6d0f5;
    --date:       #f4b8e4;
    --navbar:     #303446;
    --navsel:     #ca9ee6;
    --navhover:   #f4b8e4;
    --link:       #83a598;
    --linkhover:  #458588;
}

/* basic stuff */
body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.5rem;
    margin: 30px;
    overflow-x: hidden;
}

h1 { 
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.755rem;
}

h3 {
    padding-left: 350px;
    font-size: 2.25rem;
}

a {
    color: var(--link);
    text-decoration: underline;
    font-style: normal;
}

a:hover {
    color: var(--linkhover);
    font-style: italic;
}

/*  Navbar  */

#navbar {
    width: 100vw;
    overflow: hidden;
    background-color: var(--navbar);
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar elements {
    float: left;
    display: block;
    color: var(--foreground);
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    font-size: 1.5rem;
}

#navbar elements:hover {
    background-color: var(--navhover);
    color: var(--background);
}

#navbar elements.active {
    background-color: var(--link);
    color: var(--foreground);
}

#navbar elements.active:hover {
    background-color: var(--linkhover);
    color: var(--background);
}

#navbar .icon {
    display: none;
}

#navbar .navsocial a {
    float: right;
}

#navbar .navsocial :not(a) {
    padding-right: 10px;
    padding-left: 10px;
}

/* extra stuff */
.content {
    padding-left: 10vw;
    padding-right: 10vw;
}

#navbar.sticky + .centered {
    padding-top: 56px;
}

#navbar.sticky + .content {
    padding-top: 56px;
}

#navbar.dropped.sticky + .centered {
    padding-top: calc(6rem+112px-1px);
}

.centered {
    text-align: center;
}


