@import url('https://fonts.googleapis.com/css?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:wght@300&display=swap');

/* light mode */
:root {
  --background: #dce0e8;
  --background2: #e6e9ef;
  --foreground: #4c4f69;
  --date: #ea76cb;
  --navbar: #e6e9ef;
  --navsel: #dd7878;
  --navhover: #dc8a78;
  --link: #179299;
  --linkhover: #40a02b;
}

/* dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #232634;
    --background2: #292c3c;
    --foreground: #c6d0f5;
    --date: #f4b8e4;
    --navbar: #303446;
    --navsel: #ca9ee6;
    --navhover: #DBA5CD;
    --link: #83a598;
    --linkhover: #458588;
  }
}

/* basic stuff */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1.5rem;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Inconsolata', sans-serif;
}

h1 {
  text-align: left;
  font-size: 3rem;
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  text-align: left;
  font-size: 2.25rem;
  font-family: 'Fira Sans', sans-serif;
}

h3 {
  text-align: left;
  font-size: 1.755rem;
  font-family: 'Fira Sans', sans-serif;
}

p {
  word-wrap: break-word;
  width: 100%;
}

a {
  color: var(--link);
  text-decoration: underline;
  font-style: normal;
  font-family: 'Inconsolata', sans-serif;
}

a:hover {
  color: var(--linkhover);
  font-style: italic;
  font-family: 'Inconsolata', sans-serif;
}

hr.style {
  border-top: 1px solid var(--foreground);
}

/*  Navbar  */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-y: auto;
  background-color: var(--navbar);
  z-index: 9999;
  font-family: 'Inconsolata', sans-serif;
}

.hidden {
  visibility: hidden;
}

.sticky.fa.fa-bars {
  padding: 0.8rem;
  top: 4vh;
  left: 4vw;
  color: var(--foreground);
  overflow: hidden;
  background: var(--background2);
  border-radius: 50%;
  font-size: 2.5rem;
  z-index: 999;
}

.sticky {
  /* class for sticky, js applies it when scrolling/resizing and on load */
  position: fixed;
  top: 0;
}

#navbar a {
  display: block;
  color: var(--foreground);
  text-align: left;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Inconsolata', sans-serif;
}

#navbar a:hover {
  background-color: var(--navhover);
  color: var(--background);
  font-family: 'Inconsolata', sans-serif;
}

#navbar a.active {
  background-color: var(--navsel);
  color: var(--background);
  font-family: 'Inconsolata', sans-serif;
}

#navbar a.active:hover {
  background-color: var(--navhover);
  color: var(--background);
  font-family: 'Inconsolata', sans-serif;
}

#navbar .icon {
  float: right;
  display: block;
}

span {
  display: block;
  text-align: center;
}

#navbar .navsocial a {
  display: inline-flex;
  text-align: center;
}

#navbar .navsocial :not(a) {
  padding-right: 0px;
}

/* extra stuff */
.content {
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.centered {
  text-align: center;
}

#indexlinks {
  overflow: hidden;
  background-color: var(--background2);
  border-radius: 10px;
  margin-left: 10vw;
  margin-right: 40.8vw;
}

#indexlinks span {
  display: inline-flex;
}

#indexlinks a {
  display: inline-block;
  color: var(--foreground);
  text-align: left;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Inconsolata', sans-serif;
}

#indexlinks a.active {
  background-color: var(--navsel);
  color: var(--background);
  font-family: 'Inconsolata', sans-serif;
}

#indexlinks a:hover {
  background-color: var(--navhover);
  color: var(--background);
  font-family: 'Inconsolata', sans-serif;
}

#indexlinks a.active:hover {
  background-color: var(--navhover);
  color: var(--background);
  font-family: 'Inconsolata', sans-serif;
}

/* content alignment */
.contentflexboxleft {
  /* picture on left */
  display: flex;
  flex-direction: row;
  position: relative;
}

.contentflexboxright {
  /* means that the picture IS on the right */
  display: flex;
  flex-direction: row;
  position: relative;
}

.contentleft,
.contentright {
  width: 50vw;
  /* max-width: 540px; */
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img,
iframe,
video {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  z-index: 1;
}

/* animations */
html {
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, ul, li, hr, img, video, iframe .blogpostbox, .blogpost {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

@-webkit-keyframes bounceInLeft {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

/*  Blog  */

.blogpostbox {
  border: 2px solid var(--foreground);
  margin: 10px;
}

.blogpost {
  position: relative;
  width: calc(100% - 16px);
  height: 2.5rem;
  padding: 8px;
  color: var(--navhover);
}

.blogpostbox:nth-child(even) {
  /* Alternate colors between the boxes because I think that looks cool */
  background-color: var(--navbar);
}

.blogpost:hover {
  background-color: var(--tablehover);
}

.blogpost a {
  color: var(--navhover);
}

.blogpost a:hover {
  color: var(--navsel);
}

.date {
  color: var(--date);
  position: absolute;
  bottom: 8px;
  right: 8px;
}



/* Responsiveness to phone screens */
/* For really small mobile phones: */
@media only screen and (max-width:568px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .sticky.fa.fa-bars {
    padding: 0rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width:767px) {

  /* For mobile phones: */
  .content {
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.3rem;
    column-gap: 10px;
  }
  
  .desktoponly {
    display: none;
  }

  .nomobile {
    display: none;
  }

  .date {
    font-size: 1rem;
  }

  .contentflexboxleft {
    flex-direction: column-reverse;
  }

  .contentflexboxright {
    flex-direction: column;
  }

  .contentright,
  .contentleft {
    width: 80vw;
    width: 100%;
    max-width: 360px;
    height: auto;
  }

  .contentcenter {
    width: 50vw;
    max-width: 400px;
    height: auto;
  }

  .sticky.fa.fa-bars {
    padding: 0rem;
    font-size: 1rem;
  }

}

@media only screen and (max-width:1024px) {

  #indexlinks {
    overflow: hidden;
    background-color: var(--background2);
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 40.8vw;
  }
  
  #indexlinks a {
    display: block;
    color: var(--foreground);
    text-align: left;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Inconsolata', sans-serif;
  }

  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }

  .right {
    width: 100%;
  }

  .desktoponly {
    display: none;
  }

  .sticky.fa.fa-bars {
    padding: 0.8rem;
    font-size: 2rem;
  }

  .contentflexboxleft {
    flex-direction: column-reverse;
  }

  .contentflexboxright {
    flex-direction: column;
  }

  .contentright,
  .contentleft,
  .contentcenter {
    width: 80vw;
    width: 100%;
    max-width: 360px;
    height: auto;
  }
}