

@font-face {
    font-family: 'Volte';
    src: url('Volte-BoldItalic.eot');
    src: local('Volte Bold Italic'), local('Volte-BoldItalic'),
        url('Volte-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Volte-BoldItalic.woff2') format('woff2'),
        url('Volte-BoldItalic.woff') format('woff'),
        url('Volte-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Volte';
    src: url('Volte-Bold.eot');
    src: local('Volte Bold'), local('Volte-Bold'),
        url('Volte-Bold.eot?#iefix') format('embedded-opentype'),
        url('Volte-Bold.woff2') format('woff2'),
        url('Volte-Bold.woff') format('woff'),
        url('Volte-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Volte';
    src: url('Volte-Regular.eot');
    src: local('Volte'), local('Volte-Regular'),
        url('Volte-Regular.eot?#iefix') format('embedded-opentype'),
        url('Volte-Regular.woff2') format('woff2'),
        url('Volte-Regular.woff') format('woff'),
        url('Volte-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Volte';
    src: url('Volte-RegularItalic.eot');
    src: local('Volte Regular Italic'), local('Volte-RegularItalic'),
        url('Volte-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Volte-RegularItalic.woff2') format('woff2'),
        url('Volte-RegularItalic.woff') format('woff'),
        url('Volte-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



